.page-title{
    font-size: 40px;
    color: #000;
    font-weight: bold;
}

h1 {
    font-size: 30px;
    color: #444;
}
h2 {
    font-size: 24px;
    margin: 24px 0 6px;
    color: #222;
}
h3 {
    font-size: 20px;
    color: #222;
}
h4 {
    font-size: 16px;
    color: #222;
}
h5 {
    font-size: 12px;
    color: #222;
}