<ul class="sidebar-nav">
    <li>
        <a href="/index.html">Home</a>
    </li>
    <li> Projects
        <ul> 
            <li>
                <a href="/deep-spiking-nets.html">2016: Deep Spiking Networks</a>
            </li>

            <li>
                <a href="https://sites.google.com/site/thebrainbells/">2012: Spiking Deep Belief Networks</a>
            </li>
        </ul>
    </li>
    <li>
        <a href="/publications.html">Publications</a>
    </li>
    <li>
        <a href="/contact_cv.html">Contact & CV</a>
    </li>
</ul>
